<div class="container mx-auto p-4">
  <h2 class="text-2xl font-bold mb-4">Member Type</h2>
  <div class="mb-6">
    <p-selectButton
      [options]="userTypes"
      [(ngModel)]="selectedUserType"
      optionLabel="name"
      placeholder="Select a Member Type"
    ></p-selectButton>
  </div>

  <p-table
    #dt
    [value]="getUsers()"
    dataKey="id"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    [globalFilterFields]="['fullName', 'company.name']"
    sortField="dateAdded"
    [sortOrder]="-1"
    styleClass="p-datatable-striped p-datatable-gridlines"
  >
    <ng-template pTemplate="caption">
      <div class="flex flex-col md:flex-row gap-2">
        <p-button
          label="Clear"
          [outlined]="true"
          icon="pi pi-filter-slash"
          (click)="clear()"
          class="w-full md:w-auto"
        />
        <p-iconField iconPosition="left" class="w-full md:w-auto md:ml-auto">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            pInputText
            type="text"
            (input)="applyFilter($event)"
            placeholder="Search by name/company"
            class="w-full"
          />
        </p-iconField>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="fullName" style="min-width: 10rem">
          <div class="flex items-center">
            Name
            <p-sortIcon field="fullName"></p-sortIcon>
          </div>
        </th>
        <th style="min-width: 15rem">Email</th>
        <th pSortableColumn="company.name" style="min-width: 15rem">
          <div class="flex items-center">
            Company Name
            <p-sortIcon field="company.name"></p-sortIcon>
          </div>
        </th>
        <th pSortableColumn="dateAdded" style="min-width: 10rem">
          <div class="flex items-center">
            Date Added
            <p-sortIcon field="dateAdded"></p-sortIcon>
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user>
      <tr
        (click)="showUserDetails(user)"
        class="cursor-pointer hover:bg-gray-100"
      >
        <td>{{ user.fullName }}</td>
        <td>{{ user.emailAddress }}</td>
        <td>{{ user.hasCompanyInfo ? user.company?.name : "N/A" }}</td>
        <td>{{ user.dateAdded | date : "mediumDate" }}</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="4" class="text-center py-4">No users found.</td>
      </tr>
    </ng-template>
  </p-table>

  <app-onboarding-modal
    [user]="selectedUser"
    [(visible)]="modalVisible"
    (saveConfirmed)="onUserSaved($event)"
  ></app-onboarding-modal>
</div>
